<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <table>
    <tr>
      <td colspan="2">정보수정</td>
    </tr>
    <tr>
      <td>이름</td>
      <td><input type="text" id="name" th:value="${modify.name}"></td>
    </tr>
    <tr>
      <td>나이</td>
      <td><input type="number" id="age" th:value="${modify.age}"></td>
    </tr>
    <tr>
      <td>아이디</td>
      <td><input type="text" id="id" th:value="${modify.id}"></td>
    </tr>
    <tr>
      <td>비밀번호</td>
      <td><input type="password" id="password" th:value="${modify.password}"></td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="hidden" id="idx" th:value="${modify.idx}">
        <button type="button" id="mod">수정</button>
      </td>
    </tr>
  </table>
  <script>
    const modifyButton = document.getElementById('mod');
      if (modifyButton) {
          modifyButton.addEventListener('click', event => {
              let idx = document.getElementById('idx').value;
              fetch(`/modify`, {
              method: 'PUT',
              headers: {
                  "Content-Type": "application/json",
                  },
              body: JSON.stringify({
                  idx: document.getElementById('idx').value,
                  name: document.getElementById('name').value,
                  id: document.getElementById('id').value,
                  password: document.getElementById('password').value,
                  age: document.getElementById('age').value
                  })
              })
              .then(() => {
              alert('수정이 완료되었습니다.');
              location.replace(`/view?idx=${idx}`);
              });
          });
      }
  </script>
</body>
</html>